{% extends 'base.html' %}
{% load static %}
{% block content %}


    </div>
    <div class="container" style="margin-top: 5vh;">
        <div class="row">
            <div class="col-md-12">
                <h1>Asistencias</h1>
            </div>
            
        </div>
    </div>
    <div class="container" style="margin-top: 3vh;">
            <div class="">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Empleado</th>
                                <th>Sector</th>
                                <th>Entrada</th>
                                <th>Salida</th>
                                <th>Total de horas</th>
                                <th></th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in items %}

                            <tr>
                                <td>{{item.usuario.pk}}</td>
                                <td>{{item.usuario}}</td>
                                <td>{{item.usuario.sector}}</td>
                                <td>{{item.hora_entrada}}</td>
                                <td>{{item.hora_salida}}</td>
                                <td>{{item.cantidad_horas}}</td>
                            </tr>
                            
                            {% endfor %}

                            
                        </tbody>
                    </table>

                    

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            {% if items.has_previous %}
                <a href="{% url 'lista_asistencias' %}?page={{items.previous_page_number}}">Anterior</a>
            {% endif %}

            {% if items.has_next %}
                <a href="{}% url 'lista_asistencias' %}?page={{items.next_page_number}}">Siguiente</a>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}