{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="{% static 'assets1/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/bootstrap/js/autocomplete.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets1/css/estilo_autocomplete.css' %}">
    {% block header %}
    {% endblock header %}
</head>

<body style="border-color: var(--bs-purple);">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: #dddddd;border-style: none;">
        <div class="container"><a class="navbar-brand" href="{% url 'index' %}">EL TREBOL</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'lista_clientes'  %}" >Lista Clientes</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'lista_pedidos' %}">Lista Pedidos</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Otros</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'lista_asistencias' %}">Empleados</a>
                            <a class="dropdown-item" href="{% url 'metricas' %}">Métricas</a>
                            <a class="dropdown-item" href="#">Próximamente</a>
                        </div>
                    </li>
                </ul><span class="navbar-text actions"> <a class="login" href="#">Hola {{user}}</a><a class="btn btn-light action-button" role="button" href="{% url 'logout' %}">Salir</a></span>
            </div>
        </div>
    </nav>
    <div style="width: 100%; height: 90%">
        {% block content %}
        {% endblock content %}
    </div>

</body>
{% block javascript %}
{% endblock javascript %}
</html>