{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>cart</title>
    <link rel="stylesheet" href="{% static 'assets1/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/styles.css' %}">

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: #dddddd;border-style: none;">
        <div class="container"><a class="navbar-brand" href="#">{{project.name}}</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li>
                        <div class="col-md-12"><button class="btn btn-light" type="button" data-bs-target="#modal-1" data-bs-toggle="modal">Volver</button>
                            <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Eliminar</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Desea eliminar todos los elementos asociados al pedido N° {{pedido}}?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-danger" type="button" style="text-decoration: none">
                                                <a class="link-light" style="text-decoration: none" href="{% url 'eliminar_pedido' pedido %}">Eliminar</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul><span class="navbar-text actions"> <a class="login" href="#">Hola {{user}}</a><a class="btn btn-light action-button" role="button" href="#">Salir</a></span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">

<!--MODAL RETROCEDER-->


        </div>
        <div class="row">

<!--CARD CLIENTE-->

            <div class="col" style="margin-top: 10px;">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">CLIENTE N° {{id_cliente}}</h5>
                    </div>
                    <div class="card-body">
                        
                        <h4 class="card-title">{{cliente.nombre}}</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{cliente.calle}} {{cliente.altura}} {{cliente.piso}}</h6>
                        <p class="card-text">{{cliente.telefono}} (WSP: {{cliente.es_whatsapp}}) 
                            {% if cliente.telefono2 is None%} 
                            <p></p>
                            {% else %}
                            <p>-{{cliente.telefono2}} (WSP: {{cliente.es_whatsapp2}})</p>
                            {% endif %}
                        </p><a class="card-link" href="#"></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-top: 10px;">
                <div class="row">

                    <table style="margin: 1vh 0vh 1vh 0vh;">
                        <tr style="margin: 1vh 0vh 1vh 0vh;">
                            <td>
                                <!-- EMPANADAS -->

                                <div class="col text-center">
                                    <button class="btn btn-primary" type="button" data-bs-target="#modal-prod" data-bs-toggle="modal" 
                                    onclick="iframeChanger(1)" 
                                    style="width: 150px;height: 100px;background: linear-gradient(90deg, black, rgb(56,100,142) 5%), rgb(135,109,191);box-shadow: 4px 2px 5px 0px rgb(210,208,208);">
                                    EMPANADAS
                                    </button>                            
                                </div>

                                <!-- FIN EMPANADAS  -->
                            </td>
                            <td>
                                <!-- PIZZAS -->

                                <div class="col text-center">
                                    <button class="btn btn-primary" type="button" data-bs-target="#modal-prod" data-bs-toggle="modal" 
                                    onclick="iframeChanger(2)" 
                                    style="width: 150px;height: 100px;background: linear-gradient(90deg, black, rgb(56,100,142) 5%), rgb(135,109,191);box-shadow: 4px 2px 5px 0px rgb(210,208,208);">
                                    PIZZAS
                                    </button>
                                </div>

                                <!-- FIN PIZZAS  -->
                            </td>
                            <td>
                                <!-- MEDIA PIZZA -->

                                <div class="col text-center">
                                    <button class="btn btn-primary" type="button" data-bs-target="#modal-prod" data-bs-toggle="modal" 
                                    onclick="iframeChanger(6)" 
                                    style="width: 150px;height: 100px;background: linear-gradient(90deg, black, rgb(56,100,142) 5%), rgb(135,109,191);box-shadow: 4px 2px 5px 0px rgb(210,208,208);">
                                    MEDIA PIZZA
                                    </button>
                                </div>

                                <!-- FIN MEDIA PIZZA  -->
                            </td>

  
                        </tr>
                                
                            </td>                       
                        <tr style="margin: 1vh 0vh 1vh 0vh;">
                            <td>
                                 <!-- CANASTITAS -->

                                <div class="col text-center">
                                    <button class="btn btn-primary" type="button" data-bs-target="#modal-prod" data-bs-toggle="modal" 
                                    onclick="iframeChanger(4)" 
                                    style="width: 150px;height: 100px;background: linear-gradient(90deg, black, rgb(56,100,142) 5%), rgb(135,109,191);box-shadow: 4px 2px 5px 0px rgb(210,208,208);">
                                    CANASTITAS
                                    </button>
                                </div>
                                <!-- FIN CANASTITAS  -->
                                                          
                            <td>
                                <!-- CALZONES -->

                                <div class="col text-center">
                                    <button class="btn btn-primary" type="button" data-bs-target="#modal-prod" data-bs-toggle="modal" 
                                    onclick="iframeChanger(3)" 
                                    style="width: 150px;height: 100px;background: linear-gradient(90deg, black, rgb(56,100,142) 5%), rgb(135,109,191);box-shadow: 4px 2px 5px 0px rgb(210,208,208);">
                                    CALZONES
                                    </button>
                                </div>
                                   
                                <!-- FIN CALZONES  -->
                            </td>
                            <td>
                                <!-- OTROS -->

                                <div class="col text-center">
                                    <button class="btn btn-primary" type="button" data-bs-target="#modal-prod" data-bs-toggle="modal" 
                                    onclick="iframeChanger(5)" 
                                    style="width: 150px;height: 100px;background: linear-gradient(90deg, black, rgb(56,100,142) 5%), rgb(135,109,191);box-shadow: 4px 2px 5px 0px rgb(210,208,208);">
                                    OTROS
                                    </button>
                                </div>
                                    
                                <!-- FIN OTROS  -->
                            </td>
                        </tr>
                        <tr>
                            <td>               
                                <!-- PROMOCIONES -->

                                <div class="col text-center">
                                    <button class="btn btn-primary" type="button" data-bs-target="#modal-promo" data-bs-toggle="modal" style="width: 150px;height: 100px;background: linear-gradient(90deg, black, rgb(56,100,142) 5%), rgb(135,109,191);box-shadow: 4px 2px 5px 0px rgb(210,208,208);">PROMOCIONES</button>
                                <div class="modal fade" role="dialog" tabindex="-7" id="modal-promo">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Selección de producto</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form action="" class="form-group" method="POST">
                                                <div class="modal-body">
                                                    
                                                    <div class="row">
                                                        <div class="col">
                                                            <ul>
                                                                {% csrf_token %}
                                                                <fieldset>
                                                                    {% for radio in form_prom.id_promocion %}
                                                                    <li style="list-style-type:none">
                                                                        <span class="radio">{{ radio.tag }}
                                                                            <label class="label" for="{{ radio.id_for_label }}">   
                                                                                {{ radio.choice_label }}
                                                                            </label>
                                                                        </span>
                                                                    </li>
                                                                    {% endfor %}
                                                                </fieldset>
                                                            </ul>
                                                        </div>
                                                        <div class="col">
                                                            {{form_prom.cantidad.label}}
                                                            {{form_prom.cantidad}}
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Volver</button>
                                                    <input type="submit" class="btn btn-primary " value="Agregar" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <!-- FIN PROMOCIONES -->
                        
                        </td>
                        </tr>
                    </table>

                </div>

            </div>

<!-- MODAL - PRODUCTOS -->

<div class="modal fade" role="dialog" tabindex="-3" id="modal-prod">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Selección de producto</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <iframe style="width: 100%; height: 50vh;"
            src="{% url 'seleccionar_producto' cliente.pk pedido 1 %}" id="iframe-productos"></iframe>
        </div>
    </div>
</div>

<!-- CARRITO -->
            <div class="col-md-6" style="margin: 0;margin-top: 10px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for obj in cart_temp%}
                            <tr>
                                <td>{{obj.producto}}
                                    {% if obj.observaciones is None %}
                                        <p></p>
                                    {% else %}
                                        <p>{{obj.observaciones}} </p>   
                                    {% endif %}                           
                                </td>
                                <td>{{obj.cantidad}}</td>
                                <td>{{obj.subtotal}}</td>
                                <td>
                                    <button class="btn btn-danger text-center" type="button" style="margin: -1px;">
                                        <a class="link-light" style="text-decoration: none" href="{% url 'eliminar_cart_id' obj.id_cliente.id_cliente obj.pedido.pedido obj.pk %}">Eliminar</a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}


                        {% for obj in prom_temp%}
                        <tr>
                            <td>{{obj.id_promocion}}</td>
                            <td>{{obj.cantidad}}</td>
                            <td>{{obj.subtotal}}</td>
                            <td>
                                <button class="btn btn-danger text-center" type="button" style="margin: -1px;">
                                    <a class="link-light" style="text-decoration: none" href="{% url 'eliminar_promocion_cart_id' obj.id_cliente.id_cliente obj.pedido.pedido obj.pk %}">Eliminar</a>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}


                            <td><b>SUBTOTAL</b></td>
                            <td><b>{{cantidad_productos}}</b></td>
                            <td><b>{{subtotal}}</b></td>
                            <td></td>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BOTON CONFIRMAR -->
    {% if cart_temp.count == 0 or subtotal < 0 %}

    {% else %}
        <div class="container" style="margin: 5vh 5vh 5vh 5vh;">
        <div class="row">
            <form action="{% url 'confirmacion_pedido' id_cliente pedido %}"  method="POST">
                {% csrf_token %}
                <div class="col text-center"><button name="button" type="submit" class="btn btn-success btn-lg" >CONFIRMAR</button></div>
            </form>
        </div>
    </div>
    {% endif %}
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

<script type="text/javascript">
    function iframeChanger(categoria){
        /*IFRAME*/
        var iframe_prod = document.getElementById('iframe-productos');
        /*ACTUALIZAR IFRAME*/
        iframe_prod.src= "/cart/seleccionar_producto/" + {{cliente.pk|safe}} + "/" + {{pedido|safe}} + "/" + categoria;

    }
</script>

</html>