{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Selección cliente</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <a href="{% url 'index' %}">
            <div class="col-md-12"><button class="btn btn-light" type="button" >Volver</button></div>
        </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Cliente</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-end">

                <form action="{% url 'nuevo_cliente' %}" method="POST">
                {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar por calle." name="busqueda">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <row>
                    <div class="h4">Nuevo Cliente</div>
                </row>
                <row>
                    <form action="" method="POST" class="form-group"> 
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" class="btn btn-primary" value="Siguiente" />
                    </form>
                </row>
                <row></row>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Calle</th>
                                <th>Altura</th>
                                <th>Piso</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for x in clientes %}
                                <tr>
                                
                                    <td><a href="{% url 'nuevo_pedido' x.id_cliente %}">{{x.calle}}</a></td>
                                    <td>{{x.altura}}</td>
                                    <td>{{x.piso}}</td>
                                    <td>{{x.nombre}}</td>                      
                                    <td style="text-align: center;">
                                        <button class="btn btn-primary" type="button" >
                                            <a class="link-light" style="text-decoration: none" href="{% url 'nuevo_pedido' x.id_cliente %}">SIGUIENTE</a>
                                        </button>
                                    </td>

                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center"></div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>