{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PEDIDO N° {{data.pedido}}</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>PEDIDO N° {{data.pedido}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{data.cliente.calle}} {{data.cliente.altura}} {{data.cliente.numero}} {{data.cliente.piso}} - {{data.cliente.nombre}} </h4>
                        <h6 class="text-muted card-subtitle mb-2">{{data.pedido.hora}}</h6>
                        <p class="card-text">Telefono: {{data.cliente.telefono}} Whatsapp: {{data.cliente.es_whatsapp}}
                            {% if cliente.telefono2 is None%} 
                            <p></p>
                            {% else %}
                            <p>-{{cliente.telefono2}} (WSP: {{cliente.es_whatsapp2}})</p>
                            {% endif %}
                            <a class="card-link" href="#"></a>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Descripcion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for prod in carrito %}
                                <tr>
                                    <td>{{prod.producto}}

                                        {% if prod.observaciones is None %}
                                            <p></p>
                                        {% else %}
                                            <p>{{prod.observaciones}}</p>   
                                        {% endif %}  

                                    </td>
                                    <td>x{{prod.cantidad}}</td>
                                    <td>{{prod.subtotal}}</td>
                                </tr>
                            {% endfor %}


                            {% for promocion in promociones %}
                                <tr>
                                    <td> BONIF. {{promocion.id_promocion}}</td>
                                    <td>x{{promocion.cantidad}}</td>
                                    <td>{{promocion.id_promocion.valor_promocion}}</td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <td>ENVÍO</td>
                                <td>{{data.tipo_envio}}</td>
                                <td>{{data.tipo_envio.precio}}</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><b>TOTAL:</b></td>
                                <td>
                                    <p class="font-weight-bold"><b>{{total}}</b></p>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>PAGA CON: </td>
                                <td>
                                    <p class="font-weight-bold">{{data.paga_con}}</p>
                                </td>
                            </tr>


                            {% if data.observaciones == "" %}
                            
                            {% else %}
                                <td></td>          
                                <td>OBSERVACIONES:</td>
                                <td>{{data.observaciones}}</td> 
                            {% endif %}                   
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <container>

        <div class="row">
            <div class="col text-center"><img class="img-fluid" src="{{data.codigoqr.url}}" style="width: 200px;"></div>
        </div>
    </container>
    <div class="container">
        <div class="row">
            <div class=col-md-12>
                <a href="{% url 'index' %}">
                    <div class="col-md-12 text-center"><button class="btn btn-primary" type="button">MENU</button></div>
                </a>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>