{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lista de clientes</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/Navigation-with-Button.css' %}">

</head>

<body>
    
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: #dddddd;border-style: none;">
        <div class="container"><a class="navbar-brand" href="{% url 'index' %}">EL TREBOL</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'lista_clientes'  %}" >Lista Clientes</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'lista_pedidos' %}">Lista Pedidos</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Otros</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'lista_asistencias' %}">Empleados</a>
                            <a class="dropdown-item" href="{% url 'metricas' %}">Métricas</a>
                            <a class="dropdown-item" href="#">Próximamente</a>
                        </div>
                    </li>
                </ul><span class="navbar-text actions"> <a class="login" href="#">Hola {{user}}</a><a class="btn btn-light action-button" role="button" href="{% url 'logout' %}">Salir</a></span>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Cliente</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-end">

                <form action="{% url 'lista_clientes' %}" method="POST">
                {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Calle" name="busqueda">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <div class="container">
            <div class="">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Calle</th>
                                <th>Altura</th>
                                <th>Piso</th>
                                <th>Nombre</th>
                                <th style="text-align: center;">Detalles</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for cliente in clientes %}
                                <tr>
                                
                                    <td><a href="{% url 'detalles_cliente' cliente.id_cliente %}">{{cliente.id_cliente}}</a></td>
                                    <td>{{cliente.calle}}</td>
                                    <td>{{cliente.altura}}</td>
                                    <td>{{cliente.piso}}</td>
                                    <td>{{cliente.nombre}}</td>                      
                                    <td style="text-align: center;">
                                        <button class="btn btn-primary" type="button" >
                                            <a href="{% url 'detalles_cliente' cliente.id_cliente %}" style="text-decoration: none" class="link-light" >+ DATA</a>
                                        </button>
                                    </td>
                                    <td style="text-align: center;">
                                        <button class="btn btn-primary" type="button" >
                                            <a href="{% url 'nuevo_pedido' cliente.id_cliente %}" style="text-decoration: none" class="link-light" >NUEVO PEDIDO</a>
                                        </button>
                                    </td>

                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% if clientes.has_previous %}
                <a href="{% url 'lista_clientes' %}?page={{clientes.previous_page_number}}">Anterior</a>
            {% endif %}

            {% if clientes.has_next %}
                <a href="{% url 'lista_clientes' %}?page={{clientes.next_page_number}}">Siguiente</a>
            {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>