{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container" style="margin-top: 3vh;">
        <div class="row">
            <div class="col-md-12">
                <h1>Cliente</h1>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 4vh;">
        <div class="row">
            <div class="col-md-12 text-end" style="background-color: rgba(0,0,0,0.1); padding: 2vh; border-radius: 10px;">

                <form action="{% url 'lista_clientes' %}" method="POST">
                {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar cliente por calle" name="busqueda">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5vh;">
            <div class="">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Calle</th>
                                <th>Altura</th>
                                <th>Piso</th>
                                <th>Nombre</th>
                                <th style="text-align: center;">Detalles</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for cliente in clientes %}
                                <tr>
                                
                                    <td><a href="{% url 'detalles_cliente' cliente.id_cliente %}">{{cliente.id_cliente}}</a></td>
                                    <td>{{cliente.calle}}</td>
                                    <td>{{cliente.altura}}</td>
                                    <td>{{cliente.piso}}</td>
                                    <td>{{cliente.nombre}}</td>                      
                                    <td style="text-align: center;">
                                        
                                        <a href="{% url 'detalles_cliente' cliente.id_cliente %}" style="text-decoration: none" class="link-light" >
                                            <button class="btn btn-primary" type="button" >
                                                <i class="fas fa-info-circle"></i>
                                            </button>
                                        </a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="{% url 'nuevo_pedido' cliente.id_cliente %}" style="text-decoration: none" class="link-light" >
                                            <button class="btn btn-primary" type="button" >
                                                Nuevo pedido <i class="fas fa-plus-circle"></i>
                                            </button>
                                        </a>
                                    </td>

                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% if clientes.has_previous %}
                <a href="{% url 'lista_clientes' %}?page={{clientes.previous_page_number}}">Anterior</a>
            {% endif %}

            {% if clientes.has_next %}
                <a href="{% url 'lista_clientes' %}?page={{clientes.next_page_number}}">Siguiente</a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock javascript %}
